In [1]:
import sqlite3
import time
import datetime
import random

conn = sqlite3.connect('whiskey_old.db')
c = conn.cursor()

conn2 = sqlite3.connect('whiskey.db')
c2 = conn2.cursor()

In [2]:
def data_entry(row, i):
    c2.execute("INSERT or REPLACE INTO collection VALUES(?,?,?,?,?,?)", (i, str(row[0]), row[1], row[2], row[3], 0))
    
    conn2.commit()

In [3]:
c.execute('SELECT * FROM collection')
data = c.fetchall()
#print(data)
i = 1
for row in data:
    data_entry(row, i)
    i = i+1

In [12]:
def data_entry_rat(row, id):
    c2.execute("INSERT or REPLACE INTO ratings VALUES(?,?,?,?,?,?)", (row[0], id, row[2], row[3], row[4], row[5]))
    
    conn2.commit()

In [18]:
c.execute('SELECT * FROM ratings')
rate = c.fetchall()
c2.execute('SELECT * FROM collection')
bot = c2.fetchall()

for r in rate:
    for b in bot:
        if r[1] == b[1]:
            data_entry_rat(r, b[0])
    #print(row)

In [17]:
print(r[1])
print(b[1])
print(b[0])

Pinhook 2022 Rye Mummy
Woodford Reserve
1

In [ ]:
c.close()
conn.close()
c2.close()
conn2.close()